.nav.navbar-nav > li.dropdown.active.open > a, 
.nav.navbar-nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.navbar-nav > li.dropdown.open > a, 
.nav.navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover
{
  color: white;
  background-color: blue;
  border-color: white;
}

.login{
  border: 1px solid lightblue;
  width: 100%;
  padding: 1em;
}

.login input[type=text], input[type=password], button {
  margin: 0.4em;
  width: 100%;
}